{%- if article.image != blank -%}
    <div class="__imageCase" id="ImageCase--{{ block.id }}">
        {{ article.image | image_url: width: '805' | image_tag:
            loading: 'lazy',
            class: '__image-textImage __pageImage',
            widths: '150, 200, 250, 300, 400, 500',
            alt: article.image.alt
        }}
</div>
{%- else -%}
    <div class="__imageTextPlaceholder">
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' -}}
    </div>
{%- endif -%}