<div class="__collectionCase" id="__collectioCase--{{ section.id }}">
    {%- for collection in collections.index0 -%}
        {%- liquid 
            if collection.image
                assign collection_image = collection.image
            elsif collection.products.first and collection.products.first.images != empty
                assign collection_image = collection.products.first.featured_image
            else
                assign collection_image = blank
            endif 
        -%}
            

        <a href="{{ collection.url }}">
            {{ collection_image | image_url: width: '650' | image_tag: 
                alt: collection.image.alt
            }}
            {{ collection.title }}
        </a>
    {%- endfor -%}
</div>

{% schema %}
{
  "name": "Collections Section",
  "presets": [
    {
      "name": "Collections Section"
    }
  ]
}
{% endschema %}