.__imageTextCase {
    gap: clamp(40px, 10vw, 130px);
}

.__imageTextPlaceholder {
    max-width: 805px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgb(var(--bg-dark));
}