.__bannerCase  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-inline: auto;
    max-width: var(--mx-w);

    position: relative; /* for banner content */
}

.__bannerImage {
    line-height: 0px;
    position: relative;
}

.__bannerImage::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.__bannerImage img {
    max-width: 1440px;
    object-fit: cover;
    height: auto;
    max-height: calc(100vh + 40px);
    margin-inline: auto;
    filter: brightness(0.775) saturate(1.15);
}

.__bannerPlaceholder svg {
    height: auto;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(var(--bg-dark) / 75%);
    line-height: 0px;
}

.__bannerContent {
    position: absolute;
    left: 44px;
    bottom: 44px;
}

.__bannerHeading {
    font-size: 130px;
    font-weight: 800;
    font-family: var(--font);
    text-transform: uppercase;
    color: #fff;
    line-height: 120px;
    letter-spacing: -5px;
    margin: 0;
}

.__bannerBtnCase {
    position: absolute;
    bottom: 0;
    right: 44px;
    margin-bottom: 16.5px;
    letter-spacing: 0px;
}

.__bannerUrl {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font);
    text-decoration: none;
    width: max-content;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 260px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.__bannerUrl:hover {
    color: var(--eco-clr);
    border-color: var(--eco-clr);
}

@media (max-width: 767px) {
    .__bannerContent {
        left: 50%;
        bottom: auto;
        transform: translateX(-50%);
        width: 100%;
    }
    
    .__bannerHeading {
        font-size: 5rem;
        letter-spacing: 0px;
        line-height: 85%;
        text-align: center;
        padding-inline: 1rem;
    }

    .__bannerBtnCase {
        position: unset;
        margin-top: 3.75rem;
        margin-bottom: 0px;
        text-align: center;
    }
}