.__imageTextCase {
    gap: clamp(40px, 10vw, 130px);
}

.__imageTextPlaceholder {
    max-width: 805px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgb(var(--bg-dark));
}

.__contentHeading {
    color: #202223;
    font-family: var(--font);
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: -3px;
    margin: 0;
}

.__contentParagraph {
    padding-top: 48px;
    font-size: 16px;
    line-height: 24px;
    max-width: 305px;
    font-family: var(--font);
}