.__bannerCase  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-inline: auto;
    max-width: var(--mx-w);

    position: relative; /* for banner content */
}

.__bannerImage {
    line-height: 0px;
    position: relative;
}

.__bannerImage::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.__bannerImage img {
    max-width: 1440px;
    object-fit: cover;
    height: auto;
    max-height: calc(100vh + 40px);
    margin-inline: auto;
    filter: brightness(0.775) saturate(1.15);
}

.__bannerPlaceholder svg {
    height: auto;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(var(--bg-dark) / 75%);
    line-height: 0px;
}

.__bannerContent {
    position: absolute;
    left: 44px;
    bottom: 44px;
}

.__bannerHeading {
    font-size: 130px;
    font-weight: 800;
    font-family: var(--font);
    text-transform: uppercase;
    color: #fff;
    line-height: 120px;
    letter-spacing: -5px;
    margin: 0;
}

.__bannerBtnCase {
    width: max-content;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 260px;
    /* position: absolute;
    bottom: 0;
    right: 44px;
    margin-bottom: 10px; */
}

.__bannerUrl {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font);
    text-decoration: none;
}
